[settings]
line_length=79
known_future_library=future,pies
known_standard_library=asyncio,selectors,secrets,http,reprlib
known_third_party=marshmallow,wtforms,wtforms_tornado
known_first_party=sbt
indent='    '
multi_line_output=3
default_section=FIRSTPARTY
