[settings]
line_length=79
known_future_library=future,pies
known_standard_library=asyncio,selectors,secrets,http,reprlib
known_third_party=marshmallow,wtforms,wtforms_tornado
indent='    '
multi_line_output=3
include_trailing_comma=1
length_sort=0
default_section=FIRSTPARTY
